/* Estilos para a seção de serviços */

.grid {
  display: grid;
  gap: var(--espacamento-xl); /* Espaçamento padrão entre os itens da grid */
}

.grid--3 {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

/* Responsividade */
@media (max-width: 768px) {
  .grid {
    gap: var(--espacamento-lg); /* Reduz o espaçamento em telas menores */
  }
}
